
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Tracks</h1>

      <table class="table table-striped">
        <thead>
          <th>Image</th>
          <th>Title</th>
          <th>BPM</th>
          <th>Price</th>
          <th>Show</th>
          <th>Edit</th>
          <th>Delete</th>
        </thead>

        <tbody>
          <% @tracks.each do |track| %>
          <tr>
            <td><img src=" <%= track.thumb_img %> " alt=""></td>
            <td><%= track.title %></td>
            <td><%= track.bpm %></td>
            <td>$<%= track.price %></td>
            <td><%= link_to '<i class="fa fa-eye"></i>'.html_safe, track %></td>
            <td><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_track_path(track) %></td>
            <td><%= link_to '<i class="fa fa-trash"></i>'.html_safe, track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>

          <% end %>
        </tbody>


      </table>

      <a href="/tracks/new" class="btn btn-primary">Add Track</a>
    </div>
  </div>
</div>
